<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Oligoshell{% endblock %}</title>
  </head>
  <body>
    <header>
    </header>
    <nav>
         {% if request.user.is_authenticated %}

      <a href="{% url 'oligoshell:index' %}">Home</a>
      <a href="{% url 'oligoshell:sequence_create' %}">New Sequence</a>
      <a href="{% url 'oligoshell:order_create' %}">New Order</a>

        Hi {{ request.user.first_name }}
        <a href="{% url "logout" %}">logout</a>
             <a href="{% url 'oligoshell:profile' %}">Profile</a>
                 <a href="{% url "password_change" %}">pass change</a>

    {% else %}
         <a href="{% url "login" %}">login</a>
    {% endif %}

    </nav>
    <section>
      {% block content %}
      {% endblock %}
    </section>
  </body>
</html>
