<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Title{% endblock %} - Synthesis Management</title>
  </head>
  <body>
    <header>
      <h1>Sequences</h1>
    </header>
    <nav>
      <a href="{% url 'oligoshell:index' %}">Home</a>


         {% if request.user.is_authenticated %}
        Hi {{ request.user.first_name }}
        <a href="{% url "logout" %}">logout</a>
                 <a href="{% url "password_change" %}">pass change</a>

    {% else %}
         <a href="{% url "login" %}">login</a>
    {% endif %}

    </nav>
    <section>
      {% block content %}
      {% endblock %}
    </section>
  </body>
</html>
