{% extends "layout/basic.html" %}

{% block title %} Batch list {% endblock %}

{% block content %}

    <div class="p-2 mb-2 mt-2 bg-light text-dark">
    <h3>Batches for Synthesis:</h3>
    </div>

    <div class="table-responsive">
<table class="table table-sm">
    {% for batch in batches %}
        <tr>
        <td>
        <a href="{{ batch.get_absolute_url }}">{{ batch.title }}</a>
        </td>
            <td>
            {{ batch.notes}}
        </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
