{% extends "layout/basic.html" %}

{% block content %}

<!-- Hoverable Table rows -->

<div class="card">
    <div class="table-responsive text-break">
        <table class="table table-hover">
            <thead>
              <tr>
                <th width="10%">Name</th>
                <th width="40%">Sequence 5'->3'</th>
                <th width="8%"><span class="fw-semibold d-block">Scale</span><small class="text-muted fw-light" style="text-transform: none;">nmol</small></th>
                <th width="8%">Format</th>
                <th width="9%">Purity</th>
                <th width="10%">Synthesis</th>
                <th width="8%">Purified</th>
                <th width="7%">Conc.</th>
              </tr>
            </thead>

            <tbody class="table-border-bottom-0">
                {% for seq in sequences %}
                   <tr>
                       <td class="p-1 align-middle" width="10%">
                           <i class="fab fa-angular fa-lg text-danger me-1"></i>
                           <strong>
                               <a href="{% url 'oligoshell:sequence_detail' pk=seq.pk %}"> {{ seq.seq_name }} </a>
                           </strong>
                       </td>
                       <td class="p-1 align-middle" width="40%"> {{ seq.sequence }}</td>
                       <td class="p-1 align-middle" width="8%">{{ seq.scale }}</td>
                       <td class="p-1 align-middle" width="8%"> {{ seq.format_requested }}</td>
                       <td class="p-1 align-middle" width="9%"> {{ seq.purification_requested }}</td>

                       <td class="p-1 align-middle" width="10%">
                           {% if seq.synthesized %}
                                <span class="badge bg-label-success me-1">Done</span>
                           {% else %}
                                <span class="badge bg-label-warning me-1">---</span>
                           {% endif %}
                       </td>
                       <td class="p-1 align-middle" width="8%">
                           {% if seq.purifications.exists %}
                               {% for purification in seq.purifications.all %}
                           <ul class="list-unstyled m-0 p-0 mb-0 mt-0 align-middle d-flex align-items-center">
                               <li><span class="badge bg-label-success me-1">{{ purification.pur_method }}</span></li>
                           </ul>
                               {% endfor %}
                           {% else %}
                                <span class="badge bg-label-warning me-1">---</span>
                           {% endif %}
                       </td>
                       <td class="p-1 align-middle" width="7%">
                           {% if seq.concentration %}
                                <span class="badge bg-label-primary me-1">{{ seq.concentration }}</span></td>
                           {% else %}
                                <span class="badge bg-label-warning me-1">---</span>
                           {% endif %}
                       </td>

                   </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--/ Hoverable Table rows -->

{% endblock %}