{% extends "layout/basic.html" %}

{% block content %}
    {% for order in orders %}
        <a href="{% url 'oligoshell:order_detail' pk=order.pk %}">Order #{{ order.pk }}</a>
        by {{ order.customer }}

        {% for seq in order.sequences.all %}
               <p>{{ seq.pk }}<a href="{% url 'oligoshell:sequence_detail' pk=seq.pk %}"> {{ seq.seq_name }} </a>
               {{ seq.sequence }} {{ seq.scale }} {{ seq.appearance_requested }}</p>
        {% endfor %}

    {% endfor %}

{% endblock %}
