{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} Create Oligo Entry {% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl">
      <div class="card mb-4">
        <div class="card-body">
            <form enctype="multipart/form-data" id="form-container" action="" method="post">
                {% csrf_token %}
                <div class="form-group row" hidden="true">
                    <div class="col-md-3"> {{ form.customer}} </div>
                    <div class="col-md-3"> {{ form.email }} </div>
                </div>

                <h5 class="mb-3">Upload Bulk Sequences From File</h5>
                <div class="row mb-2">
                    <div class="col-md-6">
                        {{ form.bulk_seqs }}
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-sm btn-secondary">Process File</button>
                    </div>
                </div>

                <h5 class="mb-3 mt-3">Or Enter Sequences in the Form Below</h5>
                {{ formset.management_form }}
                {% for subform in formset %}
                    <div id="sequence-form">
                      <div class="mt-1 mb-1 p-2 form-control">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="{{ subform.seq_name.id_for_label }}"><small>Sequence name</small></label>
                                {{ subform.seq_name}}
                                {% if subform.seq_name.errors %}
                                    <div>
                                        {{ subform.seq_name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-10">
                                <label for="{{ subform.sequence.id_for_label }}"><small>Sequence 5'&rarr;3'</small></label>
                                {{ subform.sequence }}
                                {% if subform.sequence.errors %}
                                    <div>
                                        {{ subform.sequence.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-2">
                                <label for="{{ subform.scale.id_for_label }}"><small>Scale</small></label>
                                {{ subform.scale}}
                            </div>
                            <div class="col-md-2">
                                <label for="{{ subform.format_requested.id_for_label }}"><small>Format</small></label>
                                {{ subform.format_requested }}
                            </div>
                            <div class="col-md-2">
                                <label for="{{ subform.purification_requested.id_for_label }}"><small>Purification</small></label>
                                {{ subform.purification_requested }}
                            </div>
                            <div class="col-md-2">
                                <button id="sequences-0-deletebutton" type="button" class="delete-form mt-4 btn btn-sm btn-warning">Delete Oligo</button>
                            </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}

                <div class="mt-2 mb-1" id="order-form-comment" class="col-md-12">
                    {{ form.comments }}
                </div>

                <button id="add-form" type="button" class="m-2 btn btn-sm btn-secondary">Add Another Sequence</button>
                <button type="submit" class="m-2 btn btn-sm btn-primary submit">Submit</button>


            </form>
        </div>
      </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
