{% extends 'layout/basic.html' %}

{% block title %}Create Order{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h5 class="p-1 mb-1 mt-3 mb-3" align="center">Create a New Order</h5>

        <form action="." method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            {% for formset in inlines %}
                <div id="sequence-form">
                {% for subform in formset.forms %}
                    <table>
                        {{ subform.as_table }}
                    </table>
                {% endfor %}
                <button id="add-form" type="button">+</button>
                {{ formset.management_form }}
                </div>
            {% endfor %}
            <input type="submit" value="Submit" class="submit"/>
        </form>

    </div>

    <script>
        let sequenceForm = document.querySelectorAll("#sequence-form")
        let addButton = document.querySelectorAll("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        let formNum = sequenceForm.length-1
        window.alert(formNum)
    </script>

{% endblock %}
