{% extends "layout/basic.html" %}

{% block title %}Person Profile {% endblock %}

{% block content %}
     <div class="col align-self-start mt-3">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-borderless">
                <tr>
                    <td>Date of birth</td>
                    <td>{{ user.profile.birthday }}</td>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>Photo</td>
                    <td><img src="{{ user.profile.photo.url }}" alt="Users' Photo"></td>
                </tr>
                <tr>
                    <td><a href="{% url "password_change" %}">Password Change</a></td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>
{% endblock %}