{% extends 'layout/basic.html' %}

{% block title %}New Purification{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Add Sequences to a New Purification</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ form.title.id_for_label }}">Current Purification Name</label>
                        {{ form.title}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="{{ form.pur_method.id_for_label }}">Purification Method</label>
                        {{ form.pur_method}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="{{ form.comments.id_for_label }}">Comments</label>
                        {{ form.comments}}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <label for="{{ form.pur_seqs.id_for_label }}"><h6>Sequences Available for Purification:</h6></label>

                        <div class="table-responsive text-break">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th width="15%"><span class="m-2 fw-semibold d-block">Name</span></th>
                                    <th width="55%"><span class="fw-semibold d-block">Sequence, 5'&rarr;3'</span></th>
                                    <th width="10%">
                                        <span class="fw-semibold d-block">
                                            Scale
                                        </span>
                                        <small class="text-muted fw-light" style="text-transform: none;">
                                            nmol
                                        </small>
                                    </th>
                                    <th width="10%">
                                        <span class="fw-semibold d-block">
                                            Format
                                        </span>
                                        <small class="text-muted fw-light" style="text-transform: none;">
                                            requested
                                        </small>
                                    </th>
                                    <th width="10%">
                                        <span class="fw-semibold d-block">
                                            Purity
                                        </span>
                                        <small class="text-muted fw-light" style="text-transform: none;">
                                            requested
                                        </small>
                                    </th>
                                  </tr>
                                </thead>

                                <tbody class="table-border-bottom-0">
                                    {% for value, label, seqs in form.pur_seqs.field.choices %}
                                       <tr>
                                           <td class="p-1 align-middle" width="15%">
                                               <i class="fab fa-angular fa-lg text-danger me-2"></i>
                                               <small>
                                                   <input class="m-2" type="checkbox" value="{{ value }}" name="pur_seqs" />
                                                    {{ seqs.seq_name }}
                                               </small>
                                           </td>
                                           <td class="p-1 align-middle" width="55%"><small> {{ seqs.sequence }} </small></td>
                                           <td class="p-1 align-middle" width="10%"><small> {{ seqs.scale }} </small></td>
                                           <td class="p-1 align-middle" width="10%"><small> {{ seqs.format_requested }} </small></td>
                                           <td class="p-1 align-middle" width="10%"><small> {{ seqs.purification_requested }} </small></td>
                                       </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary submit mt-4"> Create New Purification </button>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}
