{% extends "layout/basic.html" %}

{% block title %}Sequence Details{% endblock %}

{% block content %}

    <div class="col-7 align-self-start mt-3">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-borderless">
                <tr>
                    <td width="30%">Order # / Customer</td>
                    <td width="70%">
                        <a href="{% url 'oligoshell:order_detail' pk=sequence.order.pk %}">{{ sequence.order.pk }}
                        / {{ sequence.order.customer }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Sequence Name</td>
                    <td>{{ sequence.seq_name }}</td>
                </tr>
                <tr>
                    <td>Sequence 5'->3'</td>
                    <td>{{ sequence.sequence }}</td>
                </tr>
                <tr>
                    <td>Sequence Length</td>
                    <td>{{ sequence.length }}</td>
                </tr>
                <tr>
                    <td>Requested Scale</td>
                    <td>{{ sequence.scale }}</td>
                </tr>
                <tr>
                    <td>Requested Format</td>
                    <td>{{ sequence.format_requested }}</td>
                </tr>
                <tr>
                    <td>Requested Purification</td>
                    <td>{{ sequence.purification_requested }}</td>
                </tr>
                <tr>
                    <td>Average MW</td>
                    <td>{{ sequence.mass_average }}</td>
                </tr>
                <tr>
                    <td>Monoisotopic MW</td>
                    <td>{{ sequence.mass_monoisotopic }}</td>
                </tr>
                <tr>
                    <td>Sequence Created</td>
                    <td>{{ sequence.created|date:"d M Y, H:i" }}</td>
                </tr>
                <tr>
                    <td>Sequence Updated</td>
                    <td>{{ sequence.updated|date:"d M Y, H:i" }}</td>
                </tr>
                <tr>
                    <td class="align-middle">Sequence was Synthesized in Batch</td>
                    <td>{% if  sequence.batches.all %}
                            {% for batch in sequence.batches.all %}
                                <p class="p-0 mb-0 mt-0 align-middle">
                                    <a href="{{ batch.get_absolute_url }}">{{ batch.title }}</a>
                                </p>
                            {% endfor %}
                        {% else %}
                                <p class="p-0 mb-0 mt-0 align-middle">NOT SYNTHESIZED</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">Sequence was Purified by</td>
                    <td>{% if  sequence.purifications.all %}
                            {% for purification in sequence.purifications.all %}
                                <p class="p-0 mb-0 mt-0 align-middle">
                                    {{ purification.title }}
                                </p>
                            {% endfor %}
                        {% else %}
                                <p class="p-0 mb-0 mt-0 align-middle">NOT PURIFIED</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Extinction Coefficient at 260 nm</td>
                    <td>{{ sequence.epsilon260 }} </td>
                </tr>

                <tr>
                    <td>Absorbance at 260 nm</td>
                    <td>{% if sequence.absorbance260 %}
                            {{ sequence.absorbance260 }}
                        {% else %}
                            NOT MEASURED
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Total Volume</td>
                    <td>{% if sequence.volume %}
                            {{ sequence.volume }} mL
                        {% else %}
                            NOT MEASURED
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Final Concentration, uM</td>
                    <td>{% if sequence.concentration %}
                            {{ sequence.concentration }} uM
                        {% else %}
                            NOT MEASURED
                        {% endif %}
                    </td>
                </tr>


            </table>
         </div>
    </div>
{% endblock %}

{% block r_panel %}
    <div class="col align-self-start mt-3">

        <h5>Enter Abs260 and Volume</h5>

       <form method="post">
            {% csrf_token %}

       <div class="row">
           <div class="col-md-4">
               {{ form.absorbance260 }}
           </div>
       </div>
       <div class="row">
           <div class="col-md-4">
               {{ form.volume }}
           </div>
       </div>

       <input type="submit" value="Save Measurements" class="btn btn-primary submit"/>

       </form>

    </div>
{% endblock %}