{% extends "layout/basic.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
          <div class="container-fluid mt-5">
              {% if validlink %}
                    <h5>Create and confirm your new password:</h5>
                    <form action="." method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <p><input type="submit" value="Change Password" /></p>
                    </form>
              {% else %}
                    <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
              {% endif %}
          </div>
{% endblock %}